.greenbtn {
    background-color: green;
}

.yellowbtn {
    background-color: yellow;
}

.orangebtn {
    background-color: orange;
}

.redbtn {
    background-color: red;
}

.violetbtn {
    background-color: violet;
}